@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
:root{
  --comfortaa: 'Comfortaa', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: var(--comfortaa);
}
.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: inherit;
}
.search-field{
  max-width: 30em;
  height: auto;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-field > input[type=search]{
  width: inherit;
  height: 100%;
}
.search-field > i{
  width: auto;
  height: auto;
}